<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат</title>


<!--В <head> сайта один раз добавьте код загрузчика-->
<script>window.yaContextCb = window.yaContextCb || []</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>


    
    
    <script src="static/js/index.js"></script>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="shortcut icon" href="static/img/logo.svg" type="image/x-icon">
    <meta name="description" content="Посреднеческий чат выполняющий функцию передачи сообщений от одного клиента другому."> 
</head>
<body>

<!--AdFox START-->
<!--yandex_fvgfhghjghjghjrtyugbngj2013-->
<!--Площадка: https://secure-chat-rho.vercel.app/ / Главная / Сайдбар-->
<!--Категория: <не задана>-->
<!--Баннер: <не задана>-->
<!--Тип баннера: 240x400-->
<div id="adfox_171500141644123565"></div>
<script>
    window.yaContextCb.push(()=>{
        Ya.adfoxCode.create({
            ownerId: 10868101,
            containerId: 'adfox_171500141644123565',
            params: {
                p1: 'dcczw',
                p2: 'hiut',
                pfc: 'gqioq',
                pfb: 'bayuqb'
            }
        })
    })
</script>



    <header>
        <div class="container">
            <a class="logo" href="/">
                <h1>SecureChat</h1>
                <img src="static/img/logo.svg" alt="">
            </a>
            <a href="#" class="mobile openChats opened">Чаты</a>
        </div>
    </header>
    <main>
        <div class="chat-container container">
            <div class="chat-left mobile-showed">
                <div class="chat-left-header">
                    <h3>Чаты</h3>
                </div>
                <div class="chat-left-favourite-list">
                    <a class="chat-left-favourite" href="#" onclick="openDialoge(this)">
                        <div class="ip">
                            {{myip}}
                        </div>
                        <div class="note">Чат с собой</div>
                    </a>
                </div>
                <a class="chat-left-favourite new" href="#" onclick="newFavourite()">
                    <div class="new"><img src="static/img/plus.svg" alt=""></div>
                </a>
            </div>
            <div class="chat-right mobile-hidden">
                <div class="chat-info">
                    <h3 class="dialoge"></h3>
                </div>
                <div class="chat-box">
                </div>
                <div class="chat-input">
                    <form action="/send_message" class="send_form" method="post">
                        <input type="text" name="text" placeholder="Сообщение...">
                    </form>
                    <div class="input-buttons">
                        <a href="" class="smiles"><img src="static/img/smiles.svg" alt=""></a>
                        <a href="" class="send" onclick="sendMessage(this); return false;"><img src="static/img/send.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
